<% content_for :title do %>
  Resend unlock instructions
<% end %>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Your email', class: 'input is-large' %>
  </div>

  <div class="actions">
    <%= f.submit "Resend unlock instructions", class: 'button is-block is-info is-large is-fullwidth' %>
  </div>
<% end %>
