<% content_for :title do %>
  Forgot your password?
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Your email', class: 'input is-large' %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: 'button is-block is-info is-large is-fullwidth', style: 'font-size: 1.3rem' %>
  </div>
<% end %>
